.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appHeader {
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.appHeader--logo {
  width: 80%;
}

.appMain {
  width: 90%;
  margin-bottom: 20px;
}

.appFooter {
  width: 90%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.Footer--buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Footer--buttonContainer .button {
  width: 100%;
  margin-right: 20px;
}

.Footer--buttonContainer .button__last {
  margin-right: 0;
}

@media all and (orientation: landscape) {
  .appHeader {
    justify-content: flex-start;
    padding-top: 30px;
  }

  .appHeader--logo {
    margin-left: 30px;
    width: 50%;
  }

  .appMain {
    width: 85%;
  }

  .appFooter {
    width: 85%;
  }
}
