.Algorithm--dragItem {
  background-color: white;
  border: 1px solid black;
  padding: 3.5px;
  margin-bottom: 5px;
  text-align: left;
  font-family: 'FiraCode';
  font-size: 14px;
}

.Algorithm--text {
  margin-top: 15px;
}

.Algorithm--dropZone {
  margin-top: 10px;
}

@media all and (orientation: landscape) {
}
