:root {
  --main-theme-color: black;
}

body {
  background: white;
}

h1,
p {
  color: var(--main-theme-color);
}

.hidden {
  display: none;
}

.button {
  background: none;
  color: var(--main-theme-color);
  border: 2px solid var(--main-theme-color);
  border-radius: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.appHeader {
  height: 10%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.appHeader--logo {
  width: 50%;
}

.appHeader--buttonContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.appHeader--buttonContainer > .button {
  min-width: 40%;
}

.greetings {
  max-width: 60%;
}

@media all and (orientation: landscape) {
  .appHeader {
    height: 15%;
  }

  .appHeader--logo {
    width: 25vw;
  }
}
