.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appHeader {
  height: 15vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.appHeader--butoon {
}
